*, :root, :before, :after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
   
   
/* CSS HSL */
--rich-black-fogra-39: hsla(330, 10%, 4%, 1);
--eerie-black: hsla(206, 14%, 10%, 1);
--blood-red: hsla(359, 87%, 21%, 1);
--ruby-red: hsla(358, 76%, 36%, 1);
--carnelian: hsla(359, 77%, 41%, 1);
--imperial-red: hsla(359, 77%, 56%, 1);
--silver-chalice: hsla(5, 7%, 67%, 1);
--light-gray: hsla(0, 0%, 83%, 1);
--cultured: hsla(330, 9%, 96%, 1);
--white: hsla(0, 0%, 100%, 1);
   


}

.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:var(--silver-chalice);
    min-width: 100vw;
    min-height: 100vh;
    
}

.container > div
{
    width: 30vw;
    height: 90vh;
    border-radius: 15px;
    background-color: var(--eerie-black);
    box-shadow: 5px 10px 8px -10px var(--ruby-red);
    position: relative;
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}





.container>div:nth-child(2n)
{
    
    background-color: var(--rich-black-fogra-39);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.word-to-search, .word-to-add
{
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color:var(--silver-chalice);
    border: 0;
    color: var(--white);
    padding: 1rem;
}

.word-to-add{
    width: 60%;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.btn-add{
    display: flex;
    position: absolute;
    background-color: var(--eerie-black);
    width: 15%;
    height: 2rem;
    top: 2.5rem;
    left: 70%;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.word-to-search > :nth-child(n)
{
    left: 1rem;
}

table
{
  top:5rem;
  position: relative;
  padding-left: 2rem;
  color: #ffffff;
}

table > tbody > tr {
    display: block;
    position: relative;
    background-color: #00000f;
    font-size: 1.5rem;
    width: 20rem;
    border-bottom: 1px #bed9a1 dashed;
}


table > tbody > tr > td
{
    position: relative;
    color: #ffffff;
    display: inline;
    left: 2rem;
}

.match-table > tbody > tr > td
{
    color: #f18701;
}

.new-word
{
    background-color: var(--ruby-red);
    width: 100%;
    flex: 1;
}

.dictionary-words{
    flex: 5;
}





